* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;

}

.banner-image-main{
    background: url(../../img/gihoa.gif), no-repeat, center center / cover;
    height: 800px;
    position: absolute;
    width: 100%;
    background-size: 50% 95%;
    
}

.container {
    margin: 0 auto;
    width: 1440px;
    font-family: "Open Sans", sans-serif;
    position: relative;
    color: #585858;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 23px 0px; */
    padding: 0px 150px;
    height: 70px;
    
}

.menu .logo img {
    height: 24px;
    

}

.list-menu {}
.sub-menu{
    display: none;
}
.menu .list-menu ul {
    display: flex;
    list-style-type: none;
}

.menu .list-menu li {
    margin: 0px 10px;
}
.menu .list-menu a {
    text-decoration: none;
    color: #333333;
    font-size: 14px;
    padding: 7px 8px;
    font-weight: 700;
}

.menu .list-menu a:hover {
    color: #ffffff;
    background-color: #f56363;
    border-radius: 4px;
}
#team{
    background-color: #f56363;
    border-radius: 4px;
    color: #ffffff;
}
main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .text {}

.container .text-main {
    width: 569px;
    top: 0;
    text-align: center;
    margin-top: 200px;
    margin-left: 400px;

}
.text-main .image{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.text-main .image img{
    width: 150px;
    border-radius: 60%;
}
.text-main .image img:hover{
    box-shadow: 0 5px 25px rgba(55, 11, 11, 0.222);
    animation: image-team 1s ease-in-out 1;
    
}
@keyframes image-team{
    to{
        transform: scale(1.1,1.1);
    }
}

.container .text{
    margin-top: 60px;
}
.container .text span {
    font-family: 'Crete Round', serif;
    font-size: 36px;
    font-weight: 400;
    font-style: italic;
}

.container .text h1 {
    font-weight: 700;
    font-size: 36px;
    margin-top: 5px;
}

.container .text p {
    margin-top: 30px;
}

.container .text button {
    width: 155px;
    height: 42px;
    padding: 10px 30px;
    background-color: #f56363;
    color: #ffffff;
    border-radius: 20px;
    border: none;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 50px;
    cursor: pointer;
}

 .text button:hover {
    background-color: black;
    transition: all 0.4s ease-out;
}
.team{
   margin-top: 200px;
   margin-left: 150px;
}
.people img{
    border-radius: 50%;
    width: 90%;
    border: 5px dotted #e5dfdf;
}
.people{
    display: flex;
    justify-content: center;
    margin: 100px 0px;
}
/*Anh phu*/
#image-item{
    display: none;
}
.people{

}
.people .text1{
    margin-left: 250px ;
    text-align: center;
}
.people .text h2{
    
    font-size: 35px;
}
.people .text span{
    
    font-family: 'Crete Round', serif;
    font-size: 30px;
}
.people .text p{
    line-height: 2;  
    width: 700px;
}
.people .text2{
    margin-right: 200px;
    text-align: center;
}
/*footer*/
footer{
    background-color: #fafafa;
    padding: 70px 0px;
}
.box-footer{
display: grid;
gap: 220px;
grid-template-columns: 1fr 1fr 1fr;
margin: 0px 350px;

}
.box-logo img{
    height: 24px;
}
.box-logo p{
    margin: 20px 0px 16px;
    color: #585858;
    font-size: 14px;
}
.box-logo{
    /* width: 379px;
    height: 195px; */
}
.box-solution h5{
    font-size: 16px;
    font-weight: 600;
    color: #585858;
    margin-bottom: 15px;
}
a{
    text-decoration: none;
    color: #585858;
}
li{
    list-style-type: none;
}
.box-solution li{
    margin: 5px 0px;

}
.box-solution li:hover{
    text-decoration: underline;
}
.box-link li:hover{
    text-decoration: underline;
}
.box-solution a{
    font-size: 14px;
}
.box-link h5{
    font-size: 16px;
    font-weight: 600;
    color: #585858;
    margin-bottom: 15px;
}

.box-link li{
    margin: 5px 0px;

}
.box-link a{
    font-size: 14px;
}
.footer-coppyright{
   color:  rgba(255, 255, 255, 0.5);
    height: 80px;
    background-color: #222328;
    text-align: center;
    
}
.footer-coppyright p{
    padding-top: 30px;
}
@media (min-width:800px ) and (max-width: 1024px){
    .container{
        width: 99%;
        
    }
    .box-logo img{
        margin-left:100px ;
    }
    .banner-image-main{
        background-size: 90% 90%;
        margin-left: -250px;
    }
    .banner-image {
        height: 700px;
    }

    .menu{
        padding: 0;
    }
    .sub-menu{
        display: none;
    }
    .container .text{
        margin-top: 100px;
        margin-left: 100px;
    }
    .container .text-main{
       text-align: center;
       margin-left: 100px;
       margin-top: 100px;
    }
    .team{
        margin-top: 100px;
        margin-left: 0;
        width: 100%;
       
    }
    #image-item{
        display: none;
    }
    .people{
        margin-top:100px; 
        margin-left: 0;
        align-items: center;
    }
    .people .text p{
        width: 400px;
    }
    .people .text1{
        margin-left: 0;
    }
    .people .text2{
        margin-right: 0;
    }
    .people img{
       width: 40%;
       height: 80%;
       margin: 0px 20px;
    }
    .box-footer{
        width: 100%;
        gap: 0px;
        margin: 0 ;
    }
    .box-logo p{
        margin-left: 100px;
        width: 250px;
    }
    .box-logo .icon-team{
        margin-left: 100px;
    }
    .box-solution{
        margin-left: 50px;
    }
}@media (min-width:10px ) and (max-width: 799px){
    .container{
        width: 95%;
        
    }
    #btn_mobile{
        border: unset;
    }
    
    #menu{
        display: block;
        position: absolute;
        width: 100%;
        top: 50px;
        right: 0px;
        background: rgb(169, 169, 169);
        transition: .6s;
        height: 0px;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.active #menu{
        height: 480px;
        visibility: visible;
        overflow-y: auto;
    }
    #menu a{
        padding: 30px 0px;
    }
    li{
        font-size: 50px;
        border-bottom: 1px solid white;
    }
    li:hover{
        color: #fffefe;
    }
    .sub-menu{
        display: block; 
    }
    .box-logo img{
        margin: 0;
    }
    .banner-image {
        height: 550px;
       
    }
    .menu{
        padding: 0;
    }
    .menu .list-menu a:hover {
        color: #ffffff;
        background-color: #33333300;
        border-radius: 4px;
    }
    .sub-menu i{
        font-size:36px ;
    }
    .container .text{
        margin-top: 0;
    }
    .banner-image-main{
        background-size: 120% 80%;
    }
    .container .text-main{
        margin-left: 0;
        margin-top: 100px;
        
    }
    .text-main .image img{
        width: 100px;
    }
    .team{
        margin: 100px 0px 0px 0px;
    }
    .people{
        display: block;
    }
    .people .text1{
        margin-left: 0px;
        width: 100%;
    }
    .people img{
        width: 200px;
        margin-left: 100px;
    }
    .people .text p{
        width: 350px;
        margin: 0px 20px;
    }
    .people .text2 {
        margin-right:0 ;
        width: 100%;
    }
    #image-item{
        display: block;
    }
    #image2{
        display: none;
    }
    .box-footer{
        width: 100%;
        gap: 0px;
        margin: 0 ;
        display: block;
        text-align: center;
    }
    .box-logo p{
        margin: 20px 50px;

    }
    .box-logo .icon-team{
        margin: 10px 0px;
    }
    .box-solution{
       margin: 40px 0px;
    }
}



